<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Extruders List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'aluminum/style.css' %}">
  </head>
  <body>
    {% if extruders_list %}
        <ul>
            {% for extruder in extruders_list %}
                <li><a href="{% url 'aluminum:systems' extruder.id %}">{{ extruder.extruder_name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No extruders are available.</p>
    {% endif %}
    <br>
    <a href="{% url 'aluminum:create_extruder' %}">New Extruder</a>
  </body>
</html>