<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profiles List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'aluminum/style.css' %}">
  </head>
  <body>
    {% if profiles_list %}
        <ul>
            {% for profile in profiles_list %}
            <li><a href={% url 'aluminum:detail' profile.id %}>{{ profile.profile_code }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No profiles are available.</p>
    {% endif %}
  </body>
</html>