<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Systems List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'aluminum/style.css' %}">
  </head>
  <body>
    {% if systems_list %}
        <ul>
            {% for system in systems_list %}
                <li><a href={% url 'aluminum:profiles' system.id %}>{{ system.system_name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No systems are available.</p>
    {% endif %}
  </body>
</html>